.admin{
   
      overflow-x: auto;
    &Table{
        width: 918px;
    }
    &Pagination{
        li{
            width: 32px;
            height: 32px;
        }
    }
}
.viewExpandLess, .vieweModalFooter{
    display: none;
}

.modal-body .vieweModalFooterActive,.modal-body .viewExpandLessActive{
    display: block;
    align-self: end;
}