.assignment{
    margin-top: 44px;
    &Menu{
        min-width: 320px;
    }

}
.profilePic{
    width: 40px;
    height: 40px;
}

.task{
    max-width: 584px;
    &Message{
        max-width: 488px;
    }
    .labelDiv{
        @include before("div")
    }
    .labelImg{
        @include before("img")
    }
    .labelVerticalAlign{
        @include before("vertical-align")
        
    }
    .labelMiddle{
        @include before("middle")
    }
    .labelDisplay{
        @include before("display")
    }
}