.asidePanel{
    width: 296px;
    .logo{
        a{
            @include logoReplace(151px,40px);
                background-image: url("../images/logo-ANSWER.svg");
                background-size: contain;
                &:hover{
                    color: $green;
                }
                
        }
    }
    &Footer{
        img{
            width: 40px;
            height: 40px;
        }
    }

}
.navBar{
    margin-bottom: 44px;
}